body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ul li {
  margin: 0;
  padding: 0;
}
a:hover {
  text-decoration: none;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url(../fonts/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url(../fonts/Montserrat-SemiBold.ttf);
}
#full--page {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
#full--page .header__top {
  background: #f2f2f2;
  padding: 4px 30px;
}
#full--page .header__top .phone a {
  color: #f9612f;
  font-family: 'Montserrat-Regular';
  font-size: 11px;
}
#full--page .header__top .phone a:hover {
  text-decoration: none;
  font-family: 'Montserrat-Bold';
}
#full--page .header__top .txt {
  font-family: 'Montserrat-Regular';
  font-size: 12px;
  color: #828282;
}
#full--page .header__top ul li {
  list-style: none;
}
#full--page .header__top ul li .nav__menu {
  font-family: 'Montserrat-Regular';
  font-size: 11px;
  color: #828282;
  margin-left: 15px;
}
#full--page .header__top ul li .nav__menu:hover {
  font-family: 'Montserrat-Bold';
  text-decoration: none;
}
#full--page .header__nav {
  padding: 12px 15px;
}
#full--page .header__nav a img {
  width: 140px;
  height: auto !important;
}
#full--page .header__nav .shop__categories {
  font-family: 'Montserrat-SemiBold';
  font-size: 14px;
  color: #828282;
}
#full--page .header__nav .shop__categories svg {
  margin: 0 0 2px 2px;
}
#full--page .header__nav .shop__categories:hover {
  text-decoration: none;
}
#full--page .header__nav .shop__categories:hover svg {
  -webkit-transform: rotate(180px);
          transform: rotate(180px);
}
#full--page .header__nav .search {
  position: relative;
}
#full--page .header__nav .search span {
  position: absolute;
  top: 0;
  right: 0;
  height: 41px;
  width: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #828282;
  border-radius: 0px 4px 4px 0;
  cursor: pointer;
}
#full--page .header__nav .search span svg {
  fill: #fff;
}
#full--page .header__nav .search .search__input {
  width: 100%;
  height: 41px;
  font-family: 'Montserrat-Regular';
  font-size: 14px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 0 15px;
  -webkit-transition: .3s;
  transition: .3s;
  color: rgba(0, 0, 0, 0.65);
}
#full--page .header__nav .search .search__input:focus {
  outline: none;
  border: 1px solid #828282;
  -webkit-box-shadow: 0 0 4px #aaa8a8;
  box-shadow: 0 0 4px #aaa8a8;
}
#full--page .header__nav .search .search__input:hover {
  border: 1px solid #828282;
}
#full--page .header__nav .search .search__input::-webkit-input-placeholder {
  font-family: 'Montserrat-Regular';
  font-size: 14px;
  color: #adadad;
}
#full--page .header__nav .search .search__input:-ms-input-placeholder {
  font-family: 'Montserrat-Regular';
  font-size: 14px;
  color: #adadad;
}
#full--page .header__nav .search .search__input::-ms-input-placeholder {
  font-family: 'Montserrat-Regular';
  font-size: 14px;
  color: #adadad;
}
#full--page .header__nav .search .search__input::placeholder {
  font-family: 'Montserrat-Regular';
  font-size: 14px;
  color: #adadad;
}
#full--page .header__nav .header__right .sign__in svg {
  color: #828282;
  font-size: 20px;
  margin: 0 12px 7px;
}
#full--page .header__nav .header__right .sign__in span {
  font-family: 'Montserrat-SemiBold';
  font-size: 14px;
  color: #828282;
}
#full--page .header__nav .header__right .sign__in span svg {
  margin: 0 0 2px 2px;
}
#full--page .header__nav .header__right .sign__in span:hover {
  text-decoration: none;
}
#full--page .header__nav .header__right .sign__in span:hover svg {
  -webkit-transform: rotate(180px);
          transform: rotate(180px);
}
#full--page .header__nav .header__right .header__btn {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  padding: 9px 0px;
  border: none;
  width: 174px;
  background: -webkit-gradient(linear, left top, right top, from(#ffa235), color-stop(83.85%, #f9612f));
  background: linear-gradient(90deg, #ffa235 0%, #f9612f 83.85%);
  border-radius: 2px;
  margin-bottom: 4px;
  color: #ffffff;
  font-family: 'Montserrat-SemiBold';
  -webkit-box-shadow: #aaa7a7 -1px 2px 5px;
          box-shadow: #aaa7a7 -1px 2px 5px;
}
#full--page .header__nav .header__right .header__btn:hover {
  background: #ffa235;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 2.5px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2.5px 5px;
}
#full--page .header__nav .header__right .header__btn:focus {
  outline: none;
}
#full--page #content .content__block {
  background-image: url(../img/back_main2.webp);
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 115px 0;
}
#full--page #content .content__block::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(130deg, rgba(0, 0, 0, 0.8) 40%, rgba(255, 255, 255, 0) 100%);
}
#full--page #content .content__block .content__title {
  font-family: 'Montserrat-ExtraBold';
  color: #fff;
  font-size: 38px;
  position: relative;
  z-index: 2;
}
#full--page #content .content__block .content__title span {
  font-family: 'Montserrat-ExtraBold';
  color: #ffa235;
  font-size: 48px;
  text-transform: uppercase;
}
#full--page #content .content__block .content__text {
  font-family: 'Montserrat-SemiBold';
  font-size: 20px;
  padding: 50px 0;
  color: #fff;
  position: relative;
  z-index: 2;
  line-height: 25px;
}
#full--page #content .content__block .content__btn {
  font-family: 'Montserrat-SemiBold';
  margin: 0px auto;
  padding: 15px 30px;
  color: #ffffff;
  background-color: #ffa235;
  border-radius: 3px;
  border: none;
  position: relative;
  z-index: 2;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 18px;
}
#full--page #content .content__block .content__btn:hover {
  -webkit-box-shadow: #ffa235 0px 2px 8px;
          box-shadow: #ffa235 0px 2px 8px;
}
#full--page #content .content__block .content__btn:focus {
  outline: none;
}
#full--page #diagramm {
  padding: 20px 0;
}
#full--page #diagramm .col-lg-6 {
  padding: 50px 0;
}
#full--page #diagramm .col-lg-6 .diagramm__title {
  font-family: 'Montserrat-Bold';
  font-size: 38px;
  color: #000;
  margin: 0 0 15px 60px;
  line-height: 42px;
}
#full--page #diagramm .col-lg-6 ul {
  margin: 40px 0 50px 60px;
}
#full--page #diagramm .col-lg-6 ul .diagramm__txt span {
  font-family: 'Montserrat-Medium';
  font-size: 16px;
  color: #858585;
}
#full--page #diagramm .col-lg-6 ul i svg {
  fill: #f9612f;
  margin-right: 20px;
}
#full--page #diagramm .col-lg-6 ul li {
  list-style: none;
  margin-bottom: 30px;
}
#full--page #diagramm .col-lg-6 .diagramm__btn a {
  --width: 220px;
  --height: 55px;
  --begin: #f9612f;
  --end: #828282;
  width: var(--width);
  height: var(--height);
  position: relative;
  font-size: 18px;
  font-family: 'Montserrat-SemiBold';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  margin-left: 60px;
  color: #f9612f;
  -webkit-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}
#full--page #diagramm .col-lg-6 .diagramm__btn a .btn__svg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  fill: none;
}
#full--page #diagramm .col-lg-6 .diagramm__btn a .btn__svg .btn__rect {
  position: absolute;
  top: 0px;
  left: 0px;
  fill: none;
  stroke: var(--begin);
  stroke-width: 5;
}
#full--page #categories {
  background: #f0f0f0;
}
#full--page #categories .categories__title {
  font-family: 'Montserrat-Medium';
  font-size: 30px;
  padding: 50px 0;
  color: #000;
}
#full--page #categories .categories__container {
  display: grid;
  grid-template-columns: 21fr 13fr 21fr 8fr 13fr 21fr;
  grid-template-rows: 1fr 1fr 1fr;
}
#full--page #categories .categories__container .categories__block {
  position: relative;
  margin: 0 10px 20px;
}
#full--page #categories .categories__container .categories__block:hover a .catgories__block__title {
  font-size: 30px;
}
#full--page #categories .categories__container .categories__block:hover a .construction {
  font-size: 50px;
}
#full--page #categories .categories__container .categories__block .catgories__block__title {
  position: absolute;
  bottom: 20px;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-family: 'Montserrat-Bold';
  color: #fff;
  text-align: center;
  font-size: 27px;
  line-height: 25px;
  z-index: 2;
  -webkit-transition: .3s;
  transition: .3s;
}
#full--page #categories .categories__container .categories__block img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 8px;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 8px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
#full--page #categories .categories__container .categories__block .construction {
  font-size: 47px;
  line-height: 42px;
}
#full--page #categories .categories__container .block1 {
  grid-area: 0.25;
}
#full--page #categories .categories__container .block2 {
  grid-area: 0.33333333;
}
#full--page #categories .categories__container .block3 {
  grid-area: 0.03333333;
}
#full--page #categories .categories__container .block4 {
  grid-area: 0.01428571;
}
#full--page #categories .categories__container .block5 {
  grid-area: 0.01904762;
}
#full--page #categories .categories__container .block6 {
  grid-area: 0.25;
}
#full--page #categories .categories__container .block7 {
  grid-area: 0.0625;
}
#full--page #categories .categories__container .block8 {
  grid-area: 0.03125;
}
#full--page #categories .categories__container .block9 {
  grid-area: 0.01785714;
}
#full--page #brands .categories__title {
  font-family: 'Montserrat-Medium';
  font-size: 30px;
  padding: 50px 0;
  color: #000;
}
#full--page #brands .brands {
  text-align: center;
  margin: 10px 0;
  -webkit-transition: .1s;
  transition: .1s;
}
#full--page #brands .brands:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-box-shadow: rgba(31, 33, 43, 0.2) 0px 3px 20px 0px !important;
          box-shadow: rgba(31, 33, 43, 0.2) 0px 3px 20px 0px !important;
}
#full--page #brands .col-lg-2 {
  padding: 0;
}
